.theme-green-color{
  color: #65CEA7;
}
.theme-green-bg-color{
  background-color: #65CEA7;
}
/* HOME PAGE > TOP RIGHT BUTTONS */
.btn-signup{
    background: #6bc5a4;
    color: black;
}

.btn-login{
    background: none;
    color: #6bc5a4;
    border: 2px #6bc5a4 solid;
}

.btn-login:hover{
    background: #6bc5a4;
    color:none;
    border: 2px #6bc5a4 solid;
}



.login-body-bg {
    background-color: #454d64;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.btn-theme-login {
    color: #fff;
    background-color: #6bc5a4;
    border-color:black;
  }
  .btn-theme-login:hover,
  .btn-theme-login:focus,
  .btn-theme-login:active,
  .btn-theme-login.active,
  .open .dropdown-toggle.btn-theme-login {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
  }
  .btn-theme-login:active,
  .btn-theme-login.active,
  .open .dropdown-toggle.btn-theme-login {
    background-image: none;
  }
  .btn-theme-login.disabled,
  .btn-theme-login[disabled],
  fieldset[disabled] .btn-theme-login,
  .btn-theme-login.disabled:hover,
  .btn-theme-login[disabled]:hover,
  fieldset[disabled] .btn-theme-login:hover,
  .btn-theme-login.disabled:focus,
  .btn-theme-login[disabled]:focus,
  fieldset[disabled] .btn-theme-login:focus,
  .btn-theme-login.disabled:active,
  .btn-theme-login[disabled]:active,
  fieldset[disabled] .btn-theme-login:active,
  .btn-theme-login.disabled.active,
  .btn-theme-login[disabled].active,
  fieldset[disabled] .btn-theme-login.active {
    background-color: #428bca;
    border-color: #357ebd;
  }
  .btn-theme-login .badge {
    color: #428bca;
    background-color: #fff;
  }

.form-signin-custom { 
    max-width: 600px !important;
    margin: 100px auto;
    background-color: #454d64 !important;
    background: #454d64;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}

.login-wrap-custom { 
    /*float: left;*/
    padding: 20px;
}

.form-signin-custom > select{
  font-size: 12px;
}



form label.error
{
  color: red;
}


.join-inst-code{
  width: 50%;
}

.btn-join{
  
  
  color: white;
  background-color: #454d64;
}

.select-join-as{
  width: 10%;
}

.btn-header{
  border: none;
  background-color: #454d64;
}

.dropdown-menu{
  min-width: 250px;
}



/*--------------------------------------------------*/
/*inst_create*/
/*--------------------------------------------------*/

.split_left{
  color: white;
  margin-top: 50px;
  margin-left: 150px;
}